.loading-circle{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    position: relative;
    top: 180px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #f8f4f4;
}
.spainer{
    width: 64px;
    height:64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: loaderRotate 1.2s linear infinite;
    
}
@keyframes loaderRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.men-part{
    width: 80vw;
    margin: 14px auto;
}
.womens-part{
    width: 80vw;
    margin: 14px auto;
}
.jewellery-part{
    width: 80vw;
    margin: 14px auto;
}
.electronics-part{
    width: 80vw;
    margin: 14px auto;
}
h1{
    width: 24vw;
    padding: 8px;
    text-align: center;
    margin: 5px auto;

}
.product-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}