.loading-circle{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    position: relative;
    top: 180px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #f8f4f4;
}
.spainer{
    width: 64px;
    height:64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: loaderRotate 1.2s linear infinite;
    
}
@keyframes loaderRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.mens-part{
    border: 2px solid red;
}
.mens-category{
    text-align: center;
}
.mens-product-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.womens-part{
    border: 2px solid blue;
}
.womens-category{
    text-align: center;
}
.womens-product-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.jewellery-part{
    border: 2px solid yellow;
}
.jewellery-category{
    text-align: center;
}
.jewellery-product-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.electronic-part{
    border: 2px solid rgb(93, 93, 15);
}
.electronic-category{
    text-align: center;
}
.electronic-product-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}